.loginregist
  .centerfield
    .loginregist__header
      .loginregist__logo
        = link_to root_path do
          %image{:src => "/assets/logo.png"}
      .registtitle
        %p 登録が完了しました
      .totop
        = link_to "TOPへ", root_path
.createuser
.loginregist__footer
  .loginregist__logo
    %image{:src => "/assets/logo-white.png"}
  ©︎ nisekari from team e