.loginregist
  .centerfield
    .header
      .logo
        = link_to root_path do
          %image{:src => "/assets/logo.png"}
        .registtitle
          %p 登録が完了しました
        .login
          = link_to root_path do
            %p TOPへ
.footer
  .logo
    %image{:src => "/assets/logo-white.png"}
  ©︎ nisekari from team e