%aside.appBanner
  .inner
    %h2.inner-title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-text 今すぐ無料ダウンロード！
    .inner-icon
      = image_tag(image_path('apple.png'), class: 'linkIcon-appleBtn',)
      = image_tag(image_path('google.png'), class: 'linkIcon-googleBtn', size: '70x80')
