%aside.appBanner
  .inner
    %h2.inner-title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-text 今すぐ無料ダウンロード！
    .inner-icon
      %a{href: "#"}
        %img.linkIcon-appleBtn{src: "/assets/apple.png"}/
      %a{href: "#"}
        %img.linkIcon-googleBtn{src: "/assets/google.png"}/

.footer
  %ul.contents
    %li.content
      %h2.content-head FURIMAについて
      %ul
        %li
          %a{href: "#"} 会社概要（運営会社）
        %li
          %a{href: "#"} プライバシーポリシー
        %li
          %a{href: "#"} FURIMA利用規約
        %li
          %a{href: "#"} ポイントに関する規約
    %li.content
      %h2.content-head FURIMAを見る
      %ul
        %li
          %a{href: "#"} カテゴリー一覧
        %li
          %a{href: "#"} ブランド一覧
    %li.content
      %h2.content-head ヘルプガイド
      %ul
        %li
          %a{href: "#"} FURIMAガイド
        %li
          %a{href: "#"} FURIMAロゴ利用ガイドライン
        %li
          %a{href: "#"} お知らせ
  .footer-logo
    %a{href: "/"}
      %img{src: "/assets/logo-white.png"}/
  %p ©︎ FURIMA
%a{href: "#"}
  .sellbutton
    %span.sellbutton-text 出品する
    %img.sellbutton-icon{src: "assets/icon_camera.png"}/