<div class="header">
  <div class="header-inner">
    <div class="header-top">
      <div class="header-logo">
      </div>
      <div class="header-seach">
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-left">
        <div class="category">
        </div>
        <div class="brand">
        </div>
      </div>
      <div class="header-right">
        <div class="news">
        </div>
        <div class="todo">
        </div>
        <div class="mypage">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contents">
  

<div class="">
</div>