<div class="header">
  <div class="header-inner">
    <div class="header-top">
      <div class="header-logo">
      </div>
      <div class="header-seach">
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-left">
        <div class="category">
        </div>
        <div class="brand">
        </div>
      </div>
      <div class="header-right">
        <div class="news">
        </div>
        <div class="todo">
        </div>
        <div class="mypage">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contents">
  <h1 class="item-name">
  </div>
  <div class="item-show">
    <div class="item-pic-box">
    </div>
    <div class="item-pics">
    </div>
      <div class="main-pic">
      </div>
      <div class="sub--pics">
      </div>
  </div>
  <div class="item-info">
    <div class="orner">
    出品者
    </div>
    <div class="category">
    カテゴリー
    </div>
    <div class="bland">
    ブランド
    </div>
    <div class="state">
    状態
    </div>
    <div class="shipping">
    送料
    </div>
    <div class="send-type">
    発送方法
    </div>
    <div class="send-area">
    配送元の地域
    </div>
    <div class="send-day">
    発送日の目安
    </div>


  </div>
</div>
  

<div class="">
</div>