.loginregist {
  width: 100vw;
  background-color: #d4d9d6;

  .centerfield {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    .loginregist__header {
      height: 280px;
      background-color: white;
      margin: 0 auto;
      padding-top: 100px;

      .loginregist__logo {
        height: 50px;
        width: 180px;
        margin: 0 auto;
        img {
          height: 50px;
          width: 180px;
        }
      }
      .registtitle {
        font-weight: bold;
        font-size: 18px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 180px;
        border-bottom: solid 2px lightgray;
        text-align: center;
      }

      .totop {
        height: 200px;
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        a {
        text-decoration: none;
        color: #3CCACE;
        }
      }
    }

    .loginregist__form {
      background-color: white;
      margin: 0 auto;

      form {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
      }

      .loginregist__form__field {
        margin-bottom: 20px;

        .formfield__input--normal {
          input {
            padding: 0 0 0 5px;
            width: 350px;
            height: 35px;
          }
          select {
            margin: 0;
            height: 35px;
          }
        }

        .formfield__label--normal {
          display: flex;
          justify-content: start;
          font-size: 15px;
          margin-bottom: 10px;
          i {
            font-size: 12px;
            text-decoration: none;
          }
          
          .important {
            box-sizing: border-box;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
              メイリオ, Meiryo, sans-serif;
            background-color: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            font-weight: 600px;
          }
        }
      }

      .remember {
        margin-top: 20px;
      }

      .loginregist__profilefield {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
        .formfield__input--short {
          input {
            padding: 0 0 0 5px;
            width: 100px;
            height: 35px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
        .formfield__label--short {
          font-size: 12px;
          margin-bottom: 10px;
          i {
            font-size: 12px;
            text-decoration: none;
          }
        }
      }

      .formtitle {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
        .important {
          box-sizing: border-box;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
            メイリオ, Meiryo, sans-serif;
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          font-weight: 600px;
        }
      }

      .loginregist__form__actions {
        margin-top: 50px;
        width: 250px;
        .ButtonNext {
          padding: 10px 20px;
          width: 350px;
          border: none;
          border-radius: 0.3em;
          background-color: #3CCACE;
          color: white;
        }
      }

      .loginregist__form__login {
        height: 200px;
        margin-top: 40px;
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        a {
        text-decoration: none;
        color: #3CCACE;
        }

      }
    }
  }
}

.createuser {
  height: calc(100vh - 380px);
  background-color: #d4d9d6;
  .createuserchild {
    height: calc(100vh - 380px);
    width: 600px;
    background-color: white;
    margin: 0 auto;
  }
}

.loginregist__footer {
  width: 100vw;
  height: 100px;
  background-color: #d4d9d6;
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  img {
    height: 30px;
    width: 100px;
    margin: 0 auto;
  }
}