.breadcrumbs
  - if controller_name == "items" and action_name == "show"
    - breadcrumb :show
  - if controller_name == "users" and action_name == "show"
    - breadcrumb :mypage
  - if controller_name == "items" and action_name == "edit"
    - breadcrumb :edit
  - if controller_name == "items" and action_name == "buy"
    - breadcrumb :buy
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"
